.descrip {
  min-height: 975px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 80%),
    url("../img/mk5.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.healthS {
  margin: 5px;
  font-style: oblique;
}
.imageHSDiets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-style: oblique;
}
.image-descrip {
  border-radius: 5px;
}
.descrip-chilld {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: rgba(148, 117, 198, 0.257);
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin: 1rem 1rem;
}

.resumen-descrip {
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: rgb(178, 207, 232);
}

.stepByTitle {
  margin-top: 1px;
  padding: 15px;
}

.step-descrip {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: rgb(178, 207, 232);
}

.link_home {
  text-decoration: none;
  color: black;
}

.step-descripS {
  font-size: 20px;
  font-style: oblique;
}

.button_volver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
